/*
Author: Christian Espinoza 
Date: 11/17/2024
File Name: breakout.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'CustomFont'; /* Name your font family */
    src: url('joystix monospace.otf'); /* Locate the .ttf file within your directory*/
  }

/* 
Remember, since the canvas element has the id=myCanvas, selecting it
for styling can be as easy as:

 #myCanvas {
    border-style: solid;
} 
    
Of course, since there will only be one canvas element on the page, you could also just use

canvas {
    border-style: solid;
}

Tip: I like to style my homework assignments to match my text editor's theme.
*/
body {
    background-color: #F8C8DC;
}
 
h1 {
    text-align: center;
    font-size: x-large;
    font-family: CustomFont;
    color: coral;
    border: solid 15px, aquamarine;
    background-color: beige;
    padding: 10px;
}


canvas {
    background-color: beige;
    align-content: center;
    margin-left: 25%;
    border: solid 15px, black;
}

  